* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --body-background-color: #020617;
  --container-background-color: #1e293b;
  --font-color: #22d3ee;
}
body {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: var(--body-background-color);
  color: var(--font-color);
}
.container {
  width: 50%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  padding: 1rem 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px;
  background-color: var(--container-background-color);
}
.container .inputFields {
  display: flex;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem 1rem;
  border-radius: 10px;
  font-size: large;
  font-weight: 800;
}
textarea{
  font-size: large;
  font-weight: bold;
}
.container .checkbox-el {
  display: flex;
  padding: 5px 5px;
  font-size: large;
  font-weight: 800;
}
fieldset {
  padding: 1.5rem 1.5rem;
  font-size: large;
  font-weight: 800;
  width: 100%;
}
fieldset label {
  padding: 1rem 1rem;
}
button {
  border: none;
  background-color: red;
  padding: 10px 10px;
  width: 50%;
  border-radius: 10px;
  color: white;
  font-size: larger;
  cursor: pointer;
  background-color: #22d3ee;
  color: #020617;
  font-weight: 800;
}
.message{
  /* border: 1px solid whitesmoke;  */
  margin: 0.5rem auto; 
  padding: 0.5rem 0.5rem;
  width: 50%;  
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}
.message p{
  font-size: medium;
  font-weight: 500;
}